<main class="page-content content-wrap">
  <!-- <ng4-loading-spinner [threshold]="2000" [timeout]="4000"  [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner> -->
<div class="fix-header fix-sidebar">
  <div class="page-inner" style="min-height:1200px !important">
    <div class="page-title">
      <h3>Profile </h3>
      <div class="page-breadcrumb">
        <ol class="breadcrumb">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li class="active">Profile</li>
          <!-- <li class="active">View Rate</li> -->
        </ol>
      </div>
    </div>
    <div id="main-wrapper">
      
     

          <div class="row">


            <div class="col-md-8 m-t-lg no_margin_top panel-white" style="margin-left:17%">
                <div class="panel" >

                    <div class="panel-body">
                        <div class="panel-body" style="margin-top:20px;margin-top: 22px;padding-top: 0px;padding-top:0">
                            <div class="panel-heading text-center">
                                <p class="subtitle fancy"><span>Profile Details</span></p>
                            </div>
                           
                              <form class="form-horizontal" >

                                <div class="form-group">
                                    <label for="input-help-block" class="col-sm-5 control-label">Name</label>
                                    <div class="col-sm-7">
                                        <label class="control-label" style="font-weight:bold;">{{profilelist.name}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-help-block" class="col-sm-5 control-label">Company</label>
                                    <div class="col-sm-7">
                                        <label class="control-label" style="font-weight:bold;">{{profilelist.company}}</label>
                                        <!--   <p class="help-block">Example block-level help text here.</p> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-help-block" class="col-sm-5 control-label">Phone</label>
                                    <div class="col-sm-7">
                                        <label class="control-label" style="font-weight:bold;">{{profilelist.mobile}}</label>
                                        <!--   <p class="help-block">Example block-level help text here.</p> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-help-block" class="col-sm-5 control-label">Email-id</label>
                                    <div class="col-sm-7">
                                        <label class="control-label" style="font-weight:bold;">{{profilelist.email}}</label>
                                        <!--   <p class="help-block">Example block-level help text here.</p> -->
                                    </div>
                                </div>





                            </form> 
                        </div>
                    </div>

                    <div class="panel-heading text-center">
                        <p class="subtitle fancy"><span>Change Password</span></p>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body" style="margin-top:20px;margin-top: 22px;padding-top: 0px;padding-top:0">

                            <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="changepassword(profileForm.value)">

               <div class="form-group">
                                    <label for="input-help-block" class="col-sm-4 control-label">Old Password</label>
                                    <div class="col-sm-8">
                                        <input type="Password" formControlName="oldPassword"   class="form-control"  required (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                        <div style="color:Red" *ngIf="profileForm.controls['oldPassword'].invalid && (profileForm.controls['oldPassword'].dirty || profileForm.controls['oldPassword'].touched)">
                                        <div style="color:Red" *ngIf="profileForm.controls['oldPassword'].errors.required">
                                            Old Password is required.
                                          </div>
                                          </div>
                                        <!-- <p *ngIf="oldPassword.$dirty && oldPassword.$error.required" class="error">OldPassword is required</p>
                                       
                    <p *ngIf="oldPassword.$error.noMatch && !oldPassword.$error.required" class="error">Password not match.</p>  -->
                                    </div>
                                </div>
                       

                                <div class="form-group">
                                    <label for="input-help-block" class="col-sm-4 control-label">New Password</label>
                                    <div class="col-sm-8">
                                        <input type="Password" formControlName="newPassword"  class="form-control" required (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                        <!--   <p class="help-block">Example block-level help text here.</p> -->
                                        <!-- <p *ngIf="newPassword.$dirty && newPassword.$error.required" class="error">Password is required</p> -->
                                        <!-- <p *ngIf="newPassword.$error.minlength" class="error">Password must be 6 characters</p> -->
                                        <div style="color:Red" *ngIf="profileForm.controls['newPassword'].invalid && (profileForm.controls['newPassword'].dirty || profileForm.controls['newPassword'].touched)">
                                        <div style="color:Red" *ngIf="profileForm.controls['newPassword'].errors.required">
                                          New Password is required.
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-help-block" class="col-sm-4 control-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input type="Password" formControlName="newPassword"  class="form-control"  required (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()">
                                        <!--   <p class="help-block">Example block-level help text here.</p> -->
                                        <!-- <p *ngIf="confirmnewPassword.$dirty && confirmnewPassword.$error.required" class="error">confirm Password is reqiured</p> -->

                                        <!-- <p *ngIf="confirmnewPassword.$error.noMatch && !confirmnewPassword.$error.required" class="error">Password not match.</p> -->
                                        <div style="color:Red" *ngIf="profileForm.controls['newPassword'].invalid && (profileForm.controls['newPassword'].dirty || profileForm.controls['newPassword'].touched)">
                                        <div style="color:Red" *ngIf="profileForm.controls['newPassword'].errors.required">
                                          Confirm newPassword is required.
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <button   [disabled]="!profileForm.valid"   style="margin-left: 35%; background:#856c51" class="btn btn-success btn-rounded">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Change Password</button>

                            </form> 
                        </div>
                    </div>
                </div>

            </div>

        </div>
          <!-- Row -->
          

  </div>
  </div>
</div>
</main>