<main class="page-content content-wrap">
  <ng4-loading-spinner [threshold]="2000" [timeout]="4000" [loadingText]="'Please wait...'" [zIndex]="9999">
  </ng4-loading-spinner>
  <div class="fix-header fix-sidebar">
    <div class="page-inner">
      <div class="page-title">
        <h3>View Details</h3>
        <div class="page-breadcrumb">
          <ol class="breadcrumb">
            <li>
              <a routerLink="/">Dashboard</a>
            </li>
            <li>
              <a routerLink="/highest-referral">Highest Referral Person</a>
            </li>
            <li class="active">View Details</li>
          </ol>
        </div>
      </div>
      <div id="main-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-body" style="margin-top:1.5px;">
                <!-- <div class="row">
                        <h4 style="margin-left: 15px">Highest Referral Person</h4>
                      
                    </div> -->

                <!-- <div>
                    <div class="form-group" style="float: right">
                      <button type="button" class="btn btn-success btn" routerLink=""
                        style="background-color:#856c51;float: right;">Back</button>
                    </div>
                  </div> -->

                <!-- <form style="margin-top:30px;" [formGroup]="highestrefferaldetailsForm"
                  (ngSubmit)="consumergetRedeemptionList(highestrefferaldetailsForm.value,0)" class="form-horizontal"> -->

                  <div class="row">

                    <div class="col-sm-10">
                      <div class="form-group" style="float: right">

                        <button type="button"
                            (click)="exportToExcel()" class="btn btn-success btn"
                            style="background-color:#856c51;">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Export</button>
                      </div>
                    </div>

                  </div>

                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Row -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-white">

              <div style="clear:both"></div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="example" class="display table" style="width: 100%;">


                    <thead>
                      <tr>


                        <th style="background-color: #856c51;color:white;padding-left: 2%">
                          Referred Person Name

                        </th>
                        <th style="background-color: #856c51;color:white;padding-left: 2%">
                          Mobile

                        </th>
                        <th style="background-color: #856c51;color:white;padding-left: 2%">
                          Referred Date

                        </th>




                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let x of highestRefferalViewListData  | paginate: { itemsPerPage: 10, currentPage: p, totalItems:countItems };let i = index">
                        <td style="padding-left: 2%">{{x.consumerName}}</td>
                        <td style="padding-left: 2%">{{x.consumerMobile}}</td>
                        <td style="padding-left: 2%">{{x.refferedDate | date:'dd MMM yyyy h:mm a'}}</td>

                      </tr>



                    </tbody>
                  </table>

                  <div *ngIf="!highestRefferalViewListData?.length" class="col-md-12 col-centered text-center">
                    <b>No Data Found</b>
                  </div>
                  <!-- <pagination-controls (pageChange)="p = $event"
                    (click)="consumergetRedeemptionList(highestrefferaldetailsForm.value,p)" class="my-pagination">
                  </pagination-controls> -->
                  <pagination-controls (pageChange)="p = $event;onPaginateChange($event,highestrefferaldetailsForm.value,p)"
                  class="my-pagination">
                </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>